$color:
    linear-gradient(217deg, rgba(114, 26, 155, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 191, 0.8), rgba(140, 0, 255, 0) 70.71%),
    linear-gradient(336deg, rgba(69, 6, 94, 0.8), rgba(69, 6, 94,0) 70.71%);
$shadow: inset 25px 25px 5px rgba(38,62,155,0.2);
$color-alt:#523268;
$light-color:#7b678b;
$dark-color:#282538;
